[phases.build]
cmds = [
    "composer install --no-dev --optimize-autoloader",
    "npm install",
    "npm run build",
    "php artisan config:cache",
    "php artisan route:cache",
    "php artisan view:cache"
]

[phases.setup]
nixPkgs = ["php82", "php82Extensions.pdo_mysql", "nodejs_18"]

[start]
cmd = "php artisan migrate --force --seed && php artisan serve --host=0.0.0.0 --port=$PORT"
